body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #555252;
  color:rgb(202, 190, 190);
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: white; */
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
}
button:hover{
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  background-color:rgb(225, 225, 225);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


tr:hover {
  background-color:rgb(225, 225, 225);
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  /* background-color: #f4f4f4; */
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: inherit;
}

nav ul li a:hover {
  background-color:rgb(225, 225, 225);
  color: black;
  border-radius: 7px;
}
